body {
    background-color: #E1D9BC;
}
.Forms {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #F0F0DB;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  
p, h2, .button {
    text-align: center;
}